@model HelpDeskSystem.ViewModels.CommentsDto.CreateCommentDto
<div class="container mt-4">
    <div class="card shadow">
        <div class="card-body">
            <form asp-action="Create" id="form">
                <input type="hidden" asp-for="TicketId"/>
                <label asp-for="Description" class="form-label"></label>
                <textarea required rows="5" class="form-control" placeholder="Please write a new Comment" asp-for="Description"></textarea>
            </form>
        </div>
    </div>
</div>