@page
@model RegisterModel
@{
    ViewData["Title"] = "ساخت اکانت جدید";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="shadow-sm p-4 rounded-3 bg-white">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" type="text" aria-required="true" placeholder="نام خود را وارد کنید" />
                <label asp-for="Input.FirstName">نام</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" type="text" aria-required="true" placeholder="نام خانوادگی خود را وارد کنید" />
                <label asp-for="Input.LastName">نام خانوادگی</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <!-- Gender Selection -->
            <div class="form-floating mb-3">
                <select required asp-for="Input.Gender" class="form-select" aria-required="true">
                    <option value="">جنسیت را انتخاب کنید</option>
                    @foreach (var gender in Enum.GetValues(typeof(Gender)))
                    {
                        <option value="@gender">@gender</option>
                    }
                </select>
                <label asp-for="Input.Gender">جنسیت</label>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">ایمیل</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.MobileNumber" class="form-control" type="tel" aria-required="true" placeholder="0913..." />
                <label asp-for="Input.MobileNumber">شماره موبایل</label>
                <span asp-validation-for="Input.MobileNumber" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="********" />
                <label asp-for="Input.Password">رمز عبور</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="********" />
                <label asp-for="Input.ConfirmPassword">تایید رمز عبور</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-primary btn-lg">ثبت نام</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
